.card {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  width: 400px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.logo {
  margin: 20px;
  font-size: 70px;
}

.container-list {
  display: flex;
  flex-wrap: wrap;
}
